@import "../../styles/_variables.scss";

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px auto 10px auto;
}

.bullet {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $color_lighter_text;
}

.line {
	width: 4px;
	height: 100px;
	margin: -5px 0 -5px 0;
	background-color: $color_lighter_text;
}