
.container {
	width: 500px;
}

.status {
	margin-bottom: 10px;
}

.title {
	font-size: 1.5em;
}

.catch {
	margin: 20px 0 30px 0;
	text-align: justify;
}

@media only screen and (max-width: 625px) {
	.container {
		width: 100%
	}

	.button {
		width: 100%;
	}
}