@import "./_variables.scss";

.form_container {
	width: 500px;
}

.title {
	margin-bottom: 25px;
}

.description {
	line-height: 22px;
	margin-bottom: 25px;
	text-align: justify;
}

.row {
	display: flex;
	justify-content: stretch;
}

.input {
	flex-basis: 50%;

	&:first-child {
		margin-right: 20px;
	}
}

.textarea {
	width: 100%;
}

.submit_container {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 815px) {
	.form_container {
		width: initial;
	}

	.title {
		margin-bottom: 20px;
	}

	.form {
		width: 100%;
	}

	.input {
		width: 100%;
		flex-basis: initial;

		&:first-child {
			margin-right: 0;
		}
	}


	.textarea {
		width: 100%;
		margin-bottom: 20px;
	}
}