@import "./_variables.scss";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: $color_white;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next, .app {
	width: 100%;
	height: 100%;
}

.app {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	color: $color_black;
}

p {
	color: $color_lighter_text;
}

h1 {
	font-size: 3em;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s;

	&:hover {
		color: $color_accent;
	}
}

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 625px) {
	.app {
		flex-direction: column;
	}
}
