@import "../styles/variables.scss";

.portrait {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-right: 50px;
	background-size: cover;
	background-position: center center;
	background-image: url("/static/assets/portrait-min.jpg");
}

.greeting {
	font-size: 3em;
}

.presentation {
	font-size: 4em;
}

.buttons {
	display: flex;
	margin-top: 35px;
	justify-content: space-between;

	.button {
		&:not(:first-child) {
			margin-left: 15px;
		}
	}
}

@media only screen and (max-width: 625px) {
	.buttons {
		flex-direction: column;

		.button:not(:first-child) {
			margin-left: 0;
			margin-top: 15px;
		}
	}
}
