@import '../../styles/variables.scss';

.sidebar {
	width: 70px;
	height: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	flex-direction: column;
	padding: 20px 0 20px 0;
	justify-content: space-between;

	.initial {
		width: 30px;
		height: 30px;
		display: flex;
		cursor: pointer;
		border-radius: 6px;
		align-items: center;
		justify-content: center;
		border: 1px solid $color_black;
		transition: all 0.2s;

		&:hover {
			border-color: $color_accent;
			
			h3 {
				color: $color_accent;
			}
		}

		h3 {
			color: $color_black;
		}
	}

	.switcher {
		margin: 10px 0;
	}

	.routes_container {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.icons_container {
		display: flex;
		flex-direction: column;

		.icon {
			margin-top: 15px;
			color: $color_black;
			transition: color 0.2s;
	
			&:hover {
				color: $color_accent;
			}
		}
	}
}

@media only screen and (max-width: 625px) {
	.sidebar {
		width: 100%;
		height: 70px;
		padding: 20px;
		position: static;
		flex-direction: row;

		.switcher {
			margin: 0 10px;
		}

		.icons_container {
			flex-direction: row;

			.icon {
				margin-top: 0;
				margin-left: 15px;
			}
		}
	}
}